.goBackButton {
  display: inline-block;
  padding: 10px 20px;
  color: whitesmoke;
  background-color: rosybrown;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.goBackButton:active,
.goBackButton:hover {
  background: transparent;
  border: 2px solid rosybrown;
}

.additionalInfo {
  color: whitesmoke;
}

.additionalInfo:active,
.additionalInfo:hover {
  text-decoration: underline;
}
